<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contact Request</title>
    <style>
        p {
            font-size: 20px;
        }
    </style>
</head>

<body>
    <h1>Contact Request</h1>
    <div>
        <p><strong>Firstname</strong></p>
        <p>{{.Firstname}}</p>
    </div>
    <div>
        <p><strong>Lastname</strong></p>
        <p>{{.Lastname}}</p>
    </div>
    <div>
        <p><strong>Email</strong></p>
        <p>{{.Email}}</p>
    </div>
    <div>
        <p><strong>Message</strong></p>
        <p>{{.Message}}</p>
    </div>
</body>

</html>
